* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ensures that images are responsive and do not overflow their containers */

img {
  max-width: 100%;
  height: auto;
}

/* Makes the header "float" at the top of the page */

header {
  position: sticky;
  top: 0;
  height: auto;
  background-color: #2b2b2b;
  padding: 1rem 0.5rem;
  z-index: 10;
}

body {
  background-color: #0a0a0a;
  color: #f5f5f5;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  color: #f5f5f5;
}

/* Navigation bar styling */

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  gap: 1rem;
  margin: 0;
}

.nav-link {
  color: #f5f5f5;
  font-family:
    Playfair Display,
    serif;
  font-size: 1.2rem;
  text-decoration: none;
}

.nav-spacer {
  flex: 1;
}

/* Controls home and cart icons in the navigation bar */

.nav-icon {
  width: 2rem;
  height: auto;
  filter: invert(
    100%
  ); /* Inverts the colours of the icons from black to white */
}

/* Hero section styling */

.hero {
  position: relative;
  width: 100%;
  min-height: 500px;
}

.hero-image {
  width: 100%;
  height: auto;
  min-height: 500px;
  object-fit: cover;
  display: block;
}

/* Linear gradient overlay on top of the hero image */

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding-left: 2rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-logo {
  width: 60%;
  height: auto;
  margin-bottom: 2rem;
}

/* Buttons container on the hero image */

.hero-buttons {
  display: flex;
  gap: 1.5rem;
}

/* Styling for the "GET TICKETS" button */

.button-tickets {
  text-decoration: none;
  background-color: #744976;
  color: #f5f5f5;
  padding: 0.5rem 0.5rem;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

/* Makes the button a darker shade of purple when hovered over */

.button-tickets:hover {
  background-color: #5a3560;
}

/* Styling for the "VIEW MORE" button */

.button-more {
  text-decoration: none;
  background-color: #2b2b2b;
  color: #f5f5f5;
  border: #f5f5f5 1px solid;
  padding: 0.5rem 0.5rem;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

/* Makes the button a lighter shade of grey when hovered over */

.button-more:hover {
  background-color: #4b4b4b;
}

/* Responsive design for the hero section */

@media (min-width: 1000px) {
  .hero {
    min-height: 700px;
  }

  .hero-image {
    min-height: 600px;
  }

  .hero-logo {
    width: 60%;
    margin-bottom: 3rem;
  }

  .button-tickets,
  .button-more {
    font-size: 1.2rem;
    padding: 0.75rem 1rem;
  }
}

/* About Spring Inspiration section styling */

.about {
  display: flex;
  gap: 2rem;
  padding: 4rem 0 4rem 4rem;
}

.about-text {
  flex: 1;
  font-weight: 300;
  text-align: center;
  margin-top: 5rem;
  line-height: 1.6;
}

.about-text h2 {
  font-weight: 400;
  margin-bottom: 2rem;
}

.about-image {
  flex: 2;
}

.about-image img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

/* Responsive design for the About section */

/* Desktop version */

@media (min-width: 1200px) {
  .about {
    flex-direction: row;
  }
}

/* Mobile and tablet version */

@media (max-width: 1000px) {
  .about {
    flex-direction: column;
    padding: 2rem;
  }

  .about-image {
    margin: 0 -2rem;
  }

  .about-image img {
    height: 400px;
    object-fit: cover;
  }

  .about-text {
    padding: 0 2rem;
    margin-top: 0;
    margin-bottom: 2rem;
  }
}

/* Footer styling */

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-stretch;
  gap: 3rem;
  padding: 3rem 4rem;
  background-color: #0a0a0a;
  color: #f5f5f5;
}

/* Alligns all of the footer sections so that they are the same height and have space between them */
.footer-logo,
.footer-nav,
.footer-social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Menu and Follow Us sections */

footer h4 {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: #744976;
  white-space: nowrap;
}

/* Spring Inspiration logo and the copyright text */

.footer-logo img {
  width: 200px;
  height: auto;
}

/* Copyright text */

.footer-logo p {
  white-space: nowrap;
}

/* Social media links */

.footer-social a {
  color: #f5f5f5;
  font-size: 1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.social-icon {
  width: 24px;
  height: 24px;
  filter: invert(100%);
}

.footer-nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-link {
  color: #f5f5f5;
  text-decoration: none;
}
